 <!--================Footer Area =================-->
 <footer class="footer_area p_120 text-center">
     <div class="container">
         <div class="row footer_inner">
             <!-- <div class="col-lg-5 col-sm-6">
                 <aside class="f_widget ab_widget">
                     <div class="f_title">
                         <h3>A Propos</h3>
                     </div>
                     <p>Do you want to be even more successful? Learn to love learning and growth. The more effort you
                         put into improving your skills,</p>
                     
                 </aside>
             </div> -->
             <div class="col-lg-6">
                 <aside class="f_widget news_widget">
                     <div class="f_title">
                         <h3 class="text-center">Newsletter</h3>
                     </div>
                     <p>Rejoignez ma lettre d'info pour recevoir un email hebdomadaire sur les NTIC</p>
                     <div>
                          <!-- id="mc_embed_signup" -->
                         <form target="_blank"
                             action="/mailchimp"
                             method="POST" class="subscribe_form relative">
                             <div class="input-group d-flex flex-row">
                                 <input name="fullName"  placeholder="Vueillez Entrer Votre Nom" type="text"> 
                                <input name="mail" placeholder="Vueillez Entrer Votre Email"  type="email">
                                 <button type="submit" class="btn sub-btn"><span class="lnr lnr-arrow-right"></span></button>
                             </div>
                             <!-- onfocus="this.placeholder = '' onblur="this.placeholder = 'Email Address '" required="" -->
                             <!-- <div class="mt-10 info"></div> -->
                         </form>
                     </div>
                 </aside>
             </div>
             <div class="col-lg-6">
                 <aside class="f_widget social_widget">
                     <div class="f_title">
                         <h3 class="text-center">Réseaux Sociaux</h3>
                     </div>
                     <p>Contactez moi sur les réseaux sociaux</p>
                     <ul class="list">
                         <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                         <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
                         <!-- <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                         <li><a href="#"><i class="fa fa-behance"></i></a></li> -->
                     </ul>
                     <p>
                         <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                         Copyright &copy;<script>
                             document.write(new Date().getFullYear());
                         </script> All rights reserved | This template is made with <i class="fa fa-heart-o"
                             aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                         <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                     </p>
                 </aside>
             </div>
         </div>
     </div>
 </footer>
 <!--================End Footer Area =================-->




 <!-- Optional JavaScript -->
 <!-- jQuery first, then Popper.js, then Bootstrap JS -->
 <script src="js/jquery-3.3.1.min.js"></script>
 <script src="js/popper.js"></script>
 <script src="js/bootstrap.min.js"></script>
 <script src="js/stellar.js"></script>
 <script src="vendors/lightbox/simpleLightbox.min.js"></script>
 <script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
 <script src="vendors/isotope/imagesloaded.pkgd.min.js"></script>
 <script src="vendors/isotope/isotope.pkgd.min.js"></script>
 <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
 <script src="vendors/popup/jquery.magnific-popup.min.js"></script>
 <script src="js/jquery.ajaxchimp.min.js"></script>
 <script src="vendors/counter-up/jquery.waypoints.min.js"></script>
  <script src="js/contact.js"></script>

 <script src="vendors/counter-up/jquery.counterup.min.js"></script>
 <script src="js/mail-script.js"></script>
 <script src="js/theme.js"></script>
 </body>

 </html>